<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="GR TURBO e-commerce">

    <meta name="author" content="Hristina Racheva">

    <title>GR Turbo</title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style1.css">

    <!--link rel="stylesheet" href="static/css/home.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

<footer class="footer" style="position: relative;bottom: 0;width: 100%">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a th:href="@{/about}" href="/about"
                               th:text="#{footer_aboutUs}">About Us</a></li>
                        <li><a th:href="@{/contactus}" href="/contactus"
                               th:text="#{footer_contactUs}">Contact us</a></li>
                        <li><a th:href="@{/faq}" href="/faq"
                               th:text="#{footer_FAQ}">FAQ</a></li>
                    </ul>
                </div>
                <p class="copyright">Copyright 2023 &copy; GR TURBO by grturbo.com. All rights reserved.
                    <br>
                    Visit us on grturbo.com
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>

