<div class="col-sm-6 col-lg-6 mb-3">
    <div class="invoice">
        <div class="title-left">
            <h3>Invoice Information</h3>
        </div>
        <div class="title">Request Invoice</div>
        <div class="d-block my-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="requestInvoice" id="requestInvoiceYes" value="true" th:checked="${invoiceForm.requestInvoice eq true}">
                <label class="form-check-label" for="requestInvoiceYes">Yes</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="requestInvoice" id="requestInvoiceNo" value="false" th:checked="${invoiceForm.requestInvoice eq false}">
                <label class="form-check-label" for="requestInvoiceNo">No</label>
            </div>
        </div>



        <form id="invoiceForm" th:action="@{/save-invoice-data}" method="post" th:object="${invoiceData}"
              data-visible="false">

            <div th:if="${success}" class="text-center alert-info">
                <p th:text="${success}"></p>
            </div>

            <!-- Добавете HTML полета за всички атрибути на InvoiceData -->
            <!-- Добавете HTML полета за всички атрибути на InvoiceData -->
            <div class="mb-3">
                <label for="companyName">Company Name *</label>
                <div class="input-group">
                    <input type="text" class="form-control" th:field="*{companyName}"
                           id="companyName" placeholder="" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="registeredAddress">Registered Address *</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           th:field="*{registeredAddress}" id="registeredAddress"
                           placeholder="" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="vatRegistration">VAT Registration *</label>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                           id="vatRegistration" name="vatRegistration"
                           th:field="*{vatRegistration}">
                    <label class="custom-control-label" for="vatRegistration">VAT
                        Registered</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="identificationNumberUIC">Identification Number UIC *</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           th:field="*{identificationNumberUIC}"
                           id="identificationNumberUIC" placeholder="" required>
                </div>
            </div>

            <div class="mb-3">
                <label for="financiallyAccountablePersonName">Financially Accountable
                    Person Name *</label>
                <div class="input-group">
                    <input type="text" class="form-control"
                           th:field="*{financiallyAccountablePersonName}"
                           id="financiallyAccountablePersonName" placeholder=""
                           required>
                </div>
            </div>

            <div class="mb-3">
                <label for="phoneNumber">Phone Number *</label>
                <div class="input-group">
                    <input type="text" class="form-control" th:field="*{phoneNumber}"
                           id="phoneNumber" placeholder="" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save Invoice Data</button>
        </form>

        <script>
            jQuery(document).ready(function () {
                // Използвайте събитие на промяна при радио бутон
                $('input[name="requestInvoice"]').change(function () {
                    if ($(this).prop('checked') && $(this).val() === 'true') {
                        // Ако е избрано "Да", направете формата видима и активна
                        $('#invoiceForm').attr('data-visible', 'true');
                    } else {
                        // Ако е избрано "Не", направете формата невидима и неактивна
                        $('#invoiceForm').attr('data-visible', 'false');
                    }
                });

                // Заявка за формата за фактурни данни
                $("#invoiceForm").submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        success: function (data) {
                            $("html").html(data);
                        },
                        error: function (error) {
                            console.log("Error:", error);
                        }
                    });
                });
            });

            // Инициализирайте видимостта и активността на формата спрямо началната стойност на радио бутона
            if ($('#requestInvoiceYes').is(':checked')) {
                $('#invoiceForm').attr('data-visible', 'true');
            } else {
                $('#invoiceForm').attr('data-visible', 'false');
            }

        </script>

        <script>
            $(document).ready(function () {
                // Променете стойността на полето на базата на атрибута data-default
                $('#requestInvoiceField').val($('#requestInvoiceField').attr('data-default') === 'true' ? 'true' : 'false');
            });
        </script>

        <script>
            // Използвайте събитие при клик на чекбокс
            $('input[name="requestInvoice"]').on('change', function() {
                // Ако текущият чекбокс е отметнат, деактивирайте останалите
                if ($(this).prop('checked')) {
                    $('input[name="requestInvoice"]').not(this).prop('checked', false);
                }
            });
        </script>