<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<link rel="stylesheet" href="css/nav.css">
    <title>GR Turbo Cart</title>
</head>
<body>


<div th:replace="fragments/navbar">Navbar</div>
<main>
    <div class="container">

        <!--Section: Block Content-->
        <section class="mt-5 mb-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8">

                    <!-- Card -->
                    <div class="card wish-list mb-4">
                        <div class="card-body">

                            <h5 class="mb-4">Cart (<span th:text="${cartCount}">2</span> items)</h5>

                            <div class="row mb-4" th:each="item, iStat : ${cart}">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             th:src="${item.imgUrl}"
                                             src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg" alt="Sample">

                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5 th:text="${item.name}">Blue denim shirt</h5>

                                                <p class="mb-2 text-uppercase small">Category: <span th:text="${item.category.name}"></span></p>

                                            </div>

                                        </div>
                                        <div class="mt-5 d-flex justify-content-between align-items-center">
                                            <div>
                                                <a href="#!" th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"  type="button" class="card-link-secondary small text-uppercase mr-3"><i
                                                        class="fas fa-trash-alt mr-1"></i> Remove item </a>

                                            </div>
                                            <p class="mb-0"><span><strong>BGN<span th:text="${item.price}"></span></strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <p class="text-primary mb-0"><i class="fas fa-info-circle mr-1"></i> Do not delay the purchase, adding
                                items to your cart does not mean booking them.</p>

                        </div>
                    </div>




                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card mb-4">
                        <div class="card-body">

                            <h5 class="mb-3">The total amount </h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    Amount Payable
                                    <span>BGN<span th:text="${total}"></span></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>Free</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>The total amount of</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>BGN<span th:text="${total}"></span></strong></span>
                                </li>
                            </ul>

                            <!-- <a th:href="@{/checkout}" h class="btn btn-primary btn-block waves-effect waves-light">go to
                                checkout</a> -->



					<form th:action="@{/cart}" th:object="${save}" method="post" >
                        <h5 class="mb-2">Billing details</h5>

                        <!-- Grid row -->
                        
                        <!-- Grid row -->


						
                        <!-- Country -->
                        <div class="d-flex flex-wrap">
                            <div class="select-outline position-relative w-100">
                                <label>Country - <strong>BULGARIA</strong></label>


                            </div>
                        </div>

                        <!-- Address Part 1 -->
                        <div class="md-form md-outline mt-2">
                            <label for="form14">Address (Line 1)</label>
                            <input type="text" name="Address"required id="form14" placeholder="House number and street name" class="form-control">
                        </div>

                        <!-- Address Part 2 -->
                        <div class="md-form md-outline mt-2">
                            <label for="form15">State</label>
                            <input type="text" name="State" id="form15" required placeholder="Apartment, suite, unit etc. (optional)"
                                   class="form-control">
                        </div>

                        <!-- Postcode / ZIP -->
                        <div class="md-form md-outline mt-3">
                            <label for="form16">Postcode / ZIP</label>
                            <input type="text" name="Pin" maxlength="6" minlength="6" required id="form16" class="form-control">
                        </div>

                        <!-- Town / City -->
                        <div class="md-form md-outline mt-2">
                            <label for="form17">Town / City</label>
                            <input type="text" name="city" required id="form17" class="form-control">
                        </div>
                        <div class="md-form md-outline mt-2">
						<input type="submit"   class="btn btn-primary btn-block waves-effect waves-light" value="Proceed to Checkout">
                               
					</div>
				</form>


                        </div>
                    </div>


                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Block Content-->

    </div>
</main>
<!--Main layout-->





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>