<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"-->
<!--          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">-->
    <title>GR Turbo Shop</title>

    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="nav.css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" href="change-password.css" th:href="@{/css/change-password.css}">


</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="mainDiv">
    <div class="cardStyle">
        <form th:action="@{/change-password}" method="post" name="signupForm" id="signupForm">
            <h2 class="formTitle">
                <i>Change Password</i>
            </h2>
            <div th:if = "${message}" class="text-center alert">
                <p th:text = "${message}"></p>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password"> Current Password * </label>
                <input type="password" id="password" name="oldPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="newpassword">New Password *</label>
                <input type="password" id="newpassword" name="newPassword" required>
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password *</label>
                <input type="password" id="confirmPassword" name="repeatNewPassword">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span>Submit</span>
                </button>
            </div>
            <a class="text-center buttonWrapper btn btn-primary" th:href="@{/profile}">Return</a>

        </form>
    </div>
</div>

<div th:replace="fragments/footer">Footer</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>