<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html"
      xmlns:h3th="http://www.w3.org/1999/html">
<head th:replace="fragments/head">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="nav.css" th:href="@{/css/nav.css}">
</head>
<body>
<div th:replace="fragments/navbar">Navbar</div>
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3 th:text="#{checkout_billing}">Billing and Shipping address</h3>
                    </div>
                    <form class="needs-validation" novalidate th:object="${user}">

                        <div class="mb-3">
                            <label for="firstName" th:text="#{checkout_firstName}">First Name *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" th:text="#{checkout_lastName}">Last Name *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" th:text="#{checkout_email}">Email *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{email}" id="email"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone" th:text="#{checkout_phone}">Phone Number *</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phone" placeholder=""
                                   readonly>
                        </div>
                        <div class="mb-3">
                            <label for="address" th:text="#{checkout_address}">Address *</label>
                            <input type="text" class="form-control"
                                   th:value="${user.address + ' ' + user.city}"
                                   id="address" placeholder="" readonly>
                        </div>
                        <a th:href="@{/profile}" class="btn btn-primary" th:text="#{checkout_change_information}">Change information</a>
                        <hr class="mb-4">
                        <div class="title"><span th:text="#{checkout_payment}">Payment Methods</span></div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" checked class="custom-control-input"
                                       required>
                                <label class="custom-control-label" for="debit" th:text="#{checkout_pay}">Cash</label>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="invoice-data">
                    <div class="title-left">
                        <h3 th:text="#{checkout_invoice}">Invoice information</h3>
                    </div>
                    <form class="needs-validation" novalidate th:object="${user.invoiceData}">

                        <div class="mb-3">
                            <label for="firstName" th:text="#{checkout_company}">Company Name *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{companyName}" id="companyName"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" th:text="#{checkout_reg_address}">Registered Address *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{registeredAddress}"
                                       id="registeredAddress"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" th:text="#{checkout_vat_reg}">VAT Registration *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" th:field="*{vatRegistration}"
                                       id="vatRegistration"
                                       placeholder="" readonly>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="phone" th:text="#{checkout_uic}">Identification NumberUIC *</label>
                            <input type="text" class="form-control" th:field="*{identificationNumberUIC}"
                                   id="identificationNumberUIC" placeholder=""
                                   readonly>
                        </div>
                        <div class="mb-3">
                            <label for="phone" th:text="#{checkout_person_name}">Financially Accountable PersonName *</label>
                            <input type="text" class="form-control" th:field="*{financiallyAccountablePersonName}"
                                   id="financiallyAccountablePersonName" placeholder=""
                                   readonly>
                        </div>
                        <div class="mb-3">
                            <label for="phone" th:text="#{checkout_phone}">Phone Number *</label>
                            <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber"
                                   placeholder=""
                                   readonly>
                        </div>
                        <a th:href="@{/profile/invoice-data}" class="btn btn-primary" th:text="#{checkout_change_information}"> Change information</a>
                        <hr class="mb-4">
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <form th:action="@{/add-order}" method="post" th:object="${shoppingCart}">

                    <input type="hidden" name="id" th:value="${shoppingCart.id}">
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3 th:text="#{checkout_shopping_cart}">Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                <div class="media mb-2 border-bottom" th:each="item : ${shoppingCart.getCartItems()}">
                                    <div class="media-body"><a href="" th:text="${item.product.name}"></a>
                                        <div class="media-body"><a href="" th:text="${item.product.brand}"></a>
                                            <div class="small text-muted">Price: [(${item.product.price})]BGN <span
                                                    class="mx-2">|</span> Qty: [(${item.quantity})]
                                                <span class="mx-2">|</span> Subtotal: [(${item.totalPrice})]BGN
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="order-box">
                                <div class="title-left">
                                    <h2 th:text="#{checkout_order}"><b>Your order</b></h2>
                                </div>
                                <div class="d-flex">
                                    <div class="font-weight-bold" th:text="#{checkout_product}">Product</div>
                                    <div class="ml-auto font-weight-bold" th:text="#{checkout_total}">Total</div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4 th:text="#{checkout_sub}">Sub Total</h4>
                                    <div class="ml-auto font-weight-bold" th:text="${shoppingCart.totalPrice} + 'BGN'"></div>
                                </div>
                                <hr class="my-1">
                                <div class="d-flex">
                                    <h4 th:text="#{checkout_shipping_cost}">Shipping Cost</h4>
                                    <div class="ml-auto font-weight-bold"> ---</div>
                                </div>
                                <hr>
                                <div class="d-flex gr-total">
                                    <h5 th:text="#{checkout_grand}">Grand Total</h5>
                                    <div class="ml-auto h5" th:text="${shoppingCart.totalPrice} + 'BGN'"></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <label for="additionalInformation" th:text="#{checkout_inf}">Additional Information</label>
                        <textarea class="form-control" id="additionalInformation"
                                  name="additionalInformation"></textarea>

                        <div class="col-12 d-flex shopping-box">
                            <button th:href="@{/add-order}" type="submit" class="ml-auto btn hvr-hover" style="background: #FCA32A" th:text="#{checkout_place_order}">Place Order
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer">
</footer>

<div th:replace="fragments/scripts"></div>
</body>

</html>