<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"><!--<![endif]-->


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="GR TURBO e-commerce">

    <meta name="author" content="Hristina Racheva">

    <title>GR Turbo</title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/style1.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="nav.css" th:href="@{/css/nav.css}">

</head>

<body id="body">

<!-- Header Start -->
<!-- header Nav Start -->
<div th:replace="fragments/navbar">Navbar</div>

<!-- header close -->

<!-- Slider Start -->
<section class="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1 class="animated fadeInUp">GR TURBO Repair and sale all types
                        <br>of turbochargers and their spare parts</h1>
                    <p class="animated fadeInUp">GR Turbo has a large stock of mass turbocharger systems and spare
                        parts</p>
                    <br>
                    <h1 class="animated fadeInUp">Tuning Turbocharger Systems</h1>
                    <p class="animated fadeInUp">We at GR TURBO can tune your turbocharger system
                        <br>to achieve amazing results</p>


                </div>
            </div>
        </div>
    </div>
</section>

<!-- Wrapper Start -->
<section class="about section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="block">
                    <div class="section-title">
                        <h2>GR TURBO – STORY AND TEAM</h2>
                        <p>Gr Turbo is a sole-owned company, established in 2010 to provide high-quality repairs to all
                            types of turbochargers for light, light commercial vehicles, buses and road construction
                            machinery. Over the years, our name has become the synonym of success and leadership in the
                            recycling and sale of turbochargers in Bulgaria, proof of which are our satisfied customers
                            from across the country.</p>
                    </div>
                </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
                <div class="block">
                    <img src="/images/Turbocharger2.jpg" th:src="@{/images/Turbocharger2.jpg}" alt="Img">
                </div>
            </div><!-- .col-md-5 close -->
        </div>
    </div>
</section>

<section class="feature bg-2">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 col-md-offset-6">
                <h2 class="section-subtitle">WE BELIEVE IN GREAT IDEAS</h2>
                <p>We at GR Turbo have the latest generation high-speed vibro-balance stands for turbochargers. We have
                    stands for high-velocity vibro-balance of medium-speed turbochargers as well as for tuned
                    turbochargers. Our stands work up to 250,000 revolutions per minute. Real-time simulation of the
                    turbocharger's performance in the car. They also monitor oil pressure and temperature as well as
                    vibrations at optimal load and revolutions.</p>
                <p>After each turbocharger has passed through our stands, we are authorized to issue a certificate of
                    authenticity and vibro-balance of the turbochargers. The certificate is under ISO standards. After
                    each repair we have issued, a turbocharger warranty card and a certificate of a high-speed stand are
                    issued.</p>

            </div>
        </div>
    </div>
</section>

<!-- Service Start -->
<section class="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="section-title">
                <h2>Our Services</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-coffee"></i>
                    <h4>Turbochargers and parts sale</h4>
                    <img src="/images/fabrycznie-nowa-2-1.jpg" th:src="@{/images/fabrycznie-nowa-2-1.jpg}" alt="Img">
                    <p>GR turbo has a large stock of turbocharger systems and parts.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-coffee"></i>
                    <h4>Repair of turbochargers</h4>
                    <img src="/images/356427778_637872201705719_2537003626678535418_n.jpg"
                         th:src="@{/images/356427778_637872201705719_2537003626678535418_n.jpg}" alt="Img">
                    <p>Recycling, balancing and diagnostics of all kinds of turbochargers.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-item">
                    <i class="icon ion-coffee"></i>
                    <h4>Tuning turbocharger systems</h4>
                    <img src="/images/343424492_779079456915647_5969127157310107421_n.jpg"
                         th:src="@{/images/343424492_779079456915647_5969127157310107421_n.jpg}" alt="Img">
                    <p>We at GR Turbo can tune your turbocharger system to achieve amazing results.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="section-title">
                <h2>Recycling process</h2>
                <p>What is the recycling process of your turbocharger in a few steps?</p>
            </div>
        </div>
        <div class="row ">
            <div class="row ">
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>SHIPMENT</h4>
                        <span class="recycling"><img src="/images/delivery.png" th:src="@{/images/delivery.png}"
                                                     alt="Img"></span>
                        <p>Shipment can be done by any shipping company in Bulgaria, whichever you choose. Most often
                            our
                            customers use “Econt Express”.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>DEFECT SPOTTING</h4>
                        <span class="recycling"><img class="recycling"
                                                     src="/images/defect.png" th:src="@{/images/defect.png}" alt="Img"></span>
                        <p>Determine the damages of the turbocharger.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>FEEDBACK</h4>
                        <span class="recycling"><img class="recycling"
                                                     src="/images/feedback.png" th:src="@{/images/feedback.png}"
                                                     alt="Img"></span>
                        <p>A representative of GR Turbo will contact you to find out the damage and the corresponding
                            amount
                            of resources needed to repair the turbocharger.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>REPAIR AND BALANCE</h4>
                        <span class="recycling"><img class="recycling"
                                                     src="/images/repair.png.png" th:src="@{/images/repair.png}"
                                                     alt="Img"></span>
                        <p>This indeed is the most important step: the actual repairment and balance of the
                            turbocharger.
                            Our team at GR Turbo will replace every broken or damaged piece with brand new parts, which
                            we
                            have in stock. Balancing is also very important, as it guarantees the right work of the
                            turbocharger.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>SET UP AND VERIFICATION</h4>
                        <span class="recycling"> <img class="recycling"
                                                      src="/images/setup.png.png" th:src="@{/images/setup.png}"
                                                      alt="Img"></span>
                        <p>The set up and verification are done after your turbocharger is assembled with completely new
                            parts.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="service-item">
                        <h4>SHIP BACK FOR INSTALLATION</h4>
                        <span class="recycling"><img class="recycling"
                                                     src="/images/delivery.png" th:src="@{/images/delivery.png}"
                                                     alt="Img"></span>
                        <p>After we are all done, we will send you via a courier company the turbocharger ready for
                            installation.</p>
                    </div>
                </div>
                <!--div class="col-sm-6 col-md-3">
                  <div class="service-item">
                    <i class="ion-earth"></i>
                    <h4>Brand Identity</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                  </div-->
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>CIMAT TURBOTEST EXPERT FLOWBENCH – STAND FOR TEST AND SET UP OF TURBOCHARGERS
                    </h2>
                    <p>Nowadays it's good to know that balancing is not the final stage of the turbocharger repair
                        process. Modern turbines are a complex mechanism, and the management of their work is a problem,
                        but only for the unprepared.
                        World leaders are: Borg Warner, Garrett, Holset, IHI, Mitsubishi Turbo Systems.
                        According to their competent opinion,it is not possible to repair the turbo variable geometry
                        outside their official garage and to achieve factory quality. And for the most incompetent, it
                        is clear that a specialized equipment is needed. This, of course, is true, but recently we at GR
                        Turbo have a stand, last word on innovative technology solutions.
                        <br>
                        <br>
                        It allows us to test and adjust almost all of the turbochargers on the current market.
                        <br>
                        <br>
                        With our Cimat Turbo Test Expert, it is not a problem to set and test any variable geometry or
                        wastage turbine.
                        <br>
                        <br>
                        It does not matter if the turbo is with an electronic or pneumatic actuator.
                        <br>
                        <br>
                        The stand measures the amount of air passed over a unit of time through the variable geometry
                        and simultaneously counts the turbine speed.
                        <br>
                        <br>
                        Another important factor is that the turbocharger is lubricated with oil under the necessary
                        temperature and pressure, mimicking precisely the work of the turbo in the car. All important
                        parameters for the optimal work of the turbo are monitored after reparation by measuring and
                        analyzing.
                        <br>
                        <br>
                        Each repair is completed by testing and adjusting the actuator and the stop bolt. This is
                        necessary because most of the modern tubular compressors are controlled and monitored by complex
                        mechanisms - electronic and pneumatic actuators, position sensors and even combined ones (vacuum
                        actuator and position sensor in one). The unloading valve controls the unloading mechanism.
                        Modern turbines feature an electronic actuator, a combination of electric motor and precision
                        electronics such as Hella, VDO / Siemens, Mitsubish, Sonceboz and others. The actuator
                        determines when and how much the variable geometry or wastegate of a turbine without geometry
                        can be opened or closed.
                        <br>
                        <br>
                        From what has been said so far, it is necessary to conclude that in order for a turbine to work
                        properly, the correct condition is a working actuator and variable geometry, and this is just a
                        piece of the strength of our Cimat Turbo Test Expert.
                        <br>
                        <br>
                        The electronics also have defects - most often we encounter broken reducing agents or defective
                        electronics, leading to incorrect control, turbocharger bad operation and power loss
                        <br>
                        <br>
                        Fine tuning is a must when replacing any types of actuators. Failure to do so will cause the car
                        to be in an emergency mode.
                        <br>
                        <br>
                        Our database, containing parameters for turbine tuning, operation and performance, is
                        continually being enriched. We aim for a 100 percent match in the settings set by the
                        manufacturer. The stand counts the fatigue of the actuator, worn connections between the bearing
                        body and variable geometry, and at the same time shows in real terms what adjustments are to be
                        made for the correct adjustment.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content Start -->
<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Facts About Us</h2>
                <p>We at GR Turbo have the latest generation high-speed vibro-balance stands for turbochargers. We have
                    stands for high-velocity vibro-balance of medium-speed turbochargers as well as for tuned
                    turbochargers. Our stands work up to 250,000 revolutions per minute. Real-time simulation of the
                    turbocharger's performance in the car. They also monitor oil pressure and temperature as well as
                    vibrations at optimal load and revolutions.
                    <br>
                    <br>
                    After each turbocharger has passed through our stands, we are authorized to issue a certificate of
                    authenticity and vibro-balance of the turbochargers. The certificate is under ISO standards. After
                    each repair we have issued, a turbocharger warranty card and a certificate of a high-speed stand are
                    issued.</p>
            </div>
        </div>
            <div class="container-brands">
                <h2>Brands</h2>
                <!-- Slider main container -->
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide"><img src="/images/brands/borg-warner.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/garrett.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/holset.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/ihi.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/melett.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/mitsubishi.png"></div>
                        <div class="swiper-slide"><img src="/images/brands/schwitzer.png"></div>
                        ...
                    </div>
<!--                    &lt;!&ndash; If we need pagination &ndash;&gt;-->
<!--                    <div class="swiper-pagination"></div>-->

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer Start -->
<div th:replace="fragments/footer">Footer</div>

<div th:replace="fragments/scripts"></div>


</body>
</html>
   
