<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="nav.css" th:href="@{/css/nav.css}">

    <title>GR Turbo Order</title>
</head>
<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${success}" class="text-center alert-success alert">
                    <p th:text="${success}"></p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="id-pr" >Id</th>
                            <th class="order-date">Order Date</th>
                            <th>Delivery Date</th>
                            <th class="price-pr">Order Status</th>

                            <th class="quantity-box">Quantity</th>
                            <th>Total Price</th>
                            <th class="total-pr">Payment Method</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td class="id-pr">
                                <p th:text="${order.id}"></p>
                            </td>
                            <td class="order-date">
                                <span><b>[(${order.orderDate})]</b></span>
                            </td>
                            <td class="name-pr" >
                                <a th:if = "${order.accept == null}"><p>Pending</p></a>
                            </td>
                            <td class="price-pr">
                                <p th:text="${order.orderStatus}"></p>
                            </td>
                            <td class="quantity-box" th:text="${order.quantity}"> </td>
                            <td class="total-pr">
                                <p style="color: red">$ [(${order.totalPrice})]</p>
                            </td>
                            <td class="total-pr" style="color: black">
                                <span>[(${order.paymentMethod})]</span>
                            </td>
                            <td>
                                <a th:href="@{'/order-details/' + ${order.id}}" class="button-cancel">Order Details</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<footer th:replace="fragments/footer"></footer>
</body>
</html>